<p id="notice"><%= notice %></p>

<h1>Find a Group to Join and Start Making New Friends! <%= link_to 'Create a New Group', new_group_path, class: "aqua-btn pull-right" %></h1>

<p>Can't find a group right for you? Create your own group for others to join.</p>
<br/>

<div class="row">
<%= render @groups %>
</div>