<div class="container main-content">
<h1 class="text-center">About Oak&Oceans</h1>
<h2 class="text-center">We are here to serve the Christian community</h2>
<div class="col-md-8 well">
  <h3>Our Foundation</h3>
  <p>Oak&Oceans foundation is built on the following two scriptures:</p>
  <p>Let us think of ways to motivate one another to acts of love and good works. And let us not neglect our meeting together, as some people do, but encourage one another, especially now that the day of his return is drawing near.<br/><strong>Hebrews 10:24-25</strong></p>
  <p>Dear friends, let us continue to love one another, for love comes from God. Anyone who loves is a child of God and knows God. But anyone who does not love does not know God, for God is love.<br/><strong>1 John 4:7-8</strong></p>
</div>
<div class="clearfix"></div>
<div class="col-md-8">
  <p>We are a community of Christians that believe love comes from God and anyone that loves knows God. Love is a resounding lesson throughout the Bible, and Oak&Oceans wishes to help you find, build, and nurture long lasting, loving relationships. We are both a Christian small groups community, as well as a Christian singles community. Weather you are looking to find a small group to grow local friendships or you are looking to find a lasting life partner in a heterosexual marriage, Oak&Oceans is here to serve you.</p>
  <h3>Finding Friendships and Love Made Easy</h3>
  <p>Are you looking to find new friends or love outside of your church? Oak&Oceans has the easies and most user friendly interface of any online small group or dating website. We make it easy to search profiles and small groups that match your personal beliefs and interest. Can't find a small group in your area? Don't worry, we have made creating new small groups easy too! <strong><%= link_to "Sign up now", new_user_registration_path %></strong> to find new friendships and/or love.</p>
  <h3>Perfect for Church Ministries</h3>
  <p>Is your church looking to provide an easy and effective way to communicate with each other within your church ministries? Oak&Oceans can help. Create a new small group for each of your ministries and start using our message boards. That's right each of our small groups have their own message board to help keep members updated on news and events. We can even send out notifications to group members for you either by email or text message. <strong><%= link_to "Sign up", new_user_registration_path %></strong> to find out more!</p>
</div>
</div>