<div class="bg-dark"></div>
<div class="banner-text">
  <h1>Christian Small Groups & Singles</h1>
  <%= link_to 'Sign Up for Free', new_user_registration_path, class: "btn btn-info" %>
</div>

<script type="text/javascript">
  jQuery(function($){
    $.supersized({
      random: 1,
      slide_intervail: 5000,
      transition: 1,
      transition_speed: 1200,
      slide_links: 0,
      slides: [
        {image: "assets/banner-1.jpg"},
        {image: "assets/banner-2.jpg"},
        {image: "assets/banner-3.jpg"},
        {image: "assets/banner-4.jpg"},
      ]
    });
  });
</script>