<div class="banner home">
  <div class="container">
    <div class="col-md-12">
      <h1 class="banner-title">We Build <span>Beautiful</span> Handcrafted Web Applications</h1>
    </div>
  </div>
</div>
<div class="container services">
  <div class="col-md-4">
    <h3>Discovery & Design</h3>
    <p>Sed eget erat elementum, convallis ipsum non, auctor nibh. Pellentesque posuere sem non erat blandit, non cursus purus placerat. Nunc eros ligula, egestas et nisl vel, volutpat tincidunt arcu. Ut at sapien nec diam tempor ornare et quis sem. Aliquam auctor lorem eget odio vehicula, sed viverra mi malesuada. Integer eu tincidunt nunc. Maecenas molestie sem ut semper dapibus. Sed consequat enim sed purus efficitur tristique. Aliquam ut enim facilisis, luctus ante sed, aliquet quam. Vestibulum lacinia dolor non finibus efficitur.<p>
  </div>
  <div class="col-md-4">
    <h3>Development & Usability</h3>
    <p>Sed eget erat elementum, convallis ipsum non, auctor nibh. Pellentesque posuere sem non erat blandit, non cursus purus placerat. Nunc eros ligula, egestas et nisl vel, volutpat tincidunt arcu. Ut at sapien nec diam tempor ornare et quis sem. Aliquam auctor lorem eget odio vehicula, sed viverra mi malesuada. Integer eu tincidunt nunc. Maecenas molestie sem ut semper dapibus. Sed consequat enim sed purus efficitur tristique. Aliquam ut enim facilisis, luctus ante sed, aliquet quam. Vestibulum lacinia dolor non finibus efficitur.<p>
  </div>
  <div class="col-md-4">
    <h3>Launch & Scalability</h3>
    <p>Sed eget erat elementum, convallis ipsum non, auctor nibh. Pellentesque posuere sem non erat blandit, non cursus purus placerat. Nunc eros ligula, egestas et nisl vel, volutpat tincidunt arcu. Ut at sapien nec diam tempor ornare et quis sem. Aliquam auctor lorem eget odio vehicula, sed viverra mi malesuada. Integer eu tincidunt nunc. Maecenas molestie sem ut semper dapibus. Sed consequat enim sed purus efficitur tristique. Aliquam ut enim facilisis, luctus ante sed, aliquet quam. Vestibulum lacinia dolor non finibus efficitur.<p>
  </div>
</div>
<div class="captains-log">
  <div class="container">
    <div class="col-md-5">
      <h2>Captain's Log</h2>
      <h4>Articles & Events</h4>
    </div>
    <div class="col-md-6 col-md-offset-1 article">
      <h4>The Latest Article</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula sollicitudin mi ullamcorper maximus. Aliquam turpis tellus, sodales vel ipsum aliquet, sollicitudin vestibulum sem. Nulla consequat, ante in interdum vestibulum, libero erat convallis ligula, eu tempor purus metus et nisl. Nulla dolor libero, pulvinar vel mattis quis, eleifend ac ante. In neque dolor, congue ut dolor vitae, viverra condimentum massa. Morbi congue maximus leo, sit amet feugiat lectus. Suspendisse auctor, magna eget varius ultricies, neque ipsum porttitor metus, tristique lobortis arcu dui a mauris. Sed pharetra efficitur sem, et cursus neque gravida et. In non ex eget ligula faucibus porttitor ut eu neque. Morbi placerat eget ligula non aliquam. Nulla molestie velit vitae elementum facilisis. Morbi ac elit elementum ligula vulputate lobortis ut gravida turpis. Cras euismod in quam a porttitor. Aliquam a tellus massa.</p>
    </div>
  </div>
</div>