// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$heading-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;

$primary: #062A59;
$secondary: #0B8E01;
$third: #ffffff;
$fourth: #000000;

.main-nav-toggle{
  text-align: right;
}
.main-nav-toggle-btn{
  font-family: $heading-font;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  small{
    font-size: 14px;
  }
}
.main-nav-container{
  display: none;
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  padding: 20px;
  background: $primary;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      color: $third;
      font-family: $body-font;
      font-weight: 300;
      a{
        color: $third;
        font-family: $body-font;
        font-weight: 300;
        font-size: 16px;
        &:hover{
          color: $secondary;
          text-decoration: none;
        }
      }
    }
  }
}
.banner{
  &.home{
    background: url('/assets/banner-home.jpg') no-repeat center center;
    background-size: cover;
    min-height: 600px;
    padding-top: 250px;
    margin-top: -53px;
    h1{
      color: $primary;
      font-family: $heading-font;
      font-weight: 300;
      font-size: 40px;
      text-align: center;
      span{
        color: $secondary;
      }
    }
  }
}
.services{
  padding-top: 40px;
  padding-bottom: 40px;
  h3{
    color: $primary;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
  }
  p{
    color: $fourth;
    font-family: $body-font;
    font-weight: 300;
    text-align: center;
  }
}
.captains-log{
  background: url('/assets/captain-log-bg.jpg') no-repeat center center;
  background-size: cover;
  padding: 40px 0;
  h2{
    color: $third;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 40px;
    margin: 90px 0 0 0;
    text-align: right;
  }
  h4{
    color: $secondary;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 20px;
    text-align: right;
  }
  .article{
    h4{
      color: $third;
      font-size: 26px;
      text-align: left;
    }
    p{
      color: $third;
      font-family: $body-font;
      font-weight: 300;
      margin: 0;
    }
  }
}