// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

//Body and Content Container styles
body{
  padding-top: 40px;
  &:not(.home){
    background: $white !important;
  }
}
.main-content{
  padding-top: 40px;
  padding-bottom: 40px;
}

//Text styles and Overrides
h1,h2,h3,h4,h5,h6{
  font-family: $heading-font;
  font-weight: 300;
  margin: 0;
}
h1{
  margin-bottom: 8px;
}
h2{
  font-style: italic;
  margin-bottom: 30px;
}
h3{
  margin-bottom: 10px;
}
p, a{
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
}
strong{
  font-family: $body-font;
  font-weight: 400;
}

//Buttons and link styles
.btn{
  font-family: $heading-font;
  font-weight: 400;
  font-size: 24px;
  border-radius: 30px;
  padding: 10px 60px;
  &.block{
    width: 100%;
    display: block;
  }
  &.sm{
    font-size: 18px;
    padding: 8px 15px;
  }
}

//Nav Overrides and styles
.navbar{
  &.navbar-inverse{
    border-bottom: none;
  }
}
.navmenu-inverse{
  border: none !important;
}

//Homepage banner styles
.banner-text{
  text-align: center;
  padding-top: 15%;
  h1{
    color: $white;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 72px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
  }
}

//Form styles
.form-block{
  input{
    margin: 10px 0;
  }
  p{
    display: block;
    width: 100%;
  }
  .profile_birthday{
    select{
      width: 30%;
      display: inline-block;
    }
  }
}

//Groups
.thumbnail{
  &.group{
    position: relative;
    min-height: 310px;
  }
  h3{
    .group-name{
      color: $dark-blue;
      font-weight: 400;
      font-size: 20px;
      &:hover{
        color: $lite-blue;
      }
    }
  }
  .edit-link{
    font-size: 25px;
    color: #31b0d5;
    position: absolute;
    top: 0;
    left: 5px;
    &:hover{
      color: $dark-blue;
    }
  }
  .delete-link{
    font-size: 25px;
    color: #c9302c;
    position: absolute;
    top: 0;
    right: 5px;
    &:hover{
      color: $dark-blue;
    }
  }
}

//Profiles
.profile-img{
  margin-bottom: 15px;
}
