// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

//Body and Content Container styles
body{
  padding-top: 40px;
  &:not(.home){
    background: #f1f1f1 !important;
  }
}
.main-content{
  padding-top: 40px;
  padding-bottom: 40px;
}

//Text styles and Overrides
h1,h2,h3,h4,h5,h6{
  font-family: $heading-font;
  font-weight: 300;
  margin: 0;
}
h1{
  color: $dark-blue;
  margin-bottom: 8px;
}
h2{
  font-style: italic;
  margin-bottom: 30px;
}
h3{
  margin-bottom: 10px;
}
p{
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
}
strong{
  font-weight: 400;
}

//Buttons and link styles
a{
  color: $purple;
}
.aqua-btn{
  color: $white;
  font-family: $heading-font;
  font-weight: 400;
  font-size: 24px;
  padding: 10px 20px;
  line-height: 1em;
  background: #0e778a;
  border-radius: 25px;
  transition-duration: .4s;
  &.lg{
    padding: 10px 50px;
  }
  &.block{
    display: block;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
  }
  &:hover{
    color: $white;
    text-decoration: none;
    background: #13aac5;
    .fa-heart{
      transform: rotate(0deg);
    }
  }
  .fa-heart{
    position: relative;
    top: 2px;
    margin: 0 20px 0 0;
    transition-duration: .4s;
    transform: rotate(-45deg);
  }
}

//Nav Overrides and styles
.navbar{
  &.navbar-inverse{
    border-bottom: none;
    .navbar-toggle{
      display: inherit;
      margin-left: 15px;
      border: none;
    }
  }
}
.navmenu-inverse{
  border: none !important;
}

//Homepage banner styles
.banner-text{
  text-align: center;
  padding-top: 15%;
  h1{
    color: $white;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 72px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
  }
}

//Form styles
.form-block{
  input{
    margin: 10px 0;
  }
}