//Font Styles
$heading-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;

//Colors
$white: #ffffff;
$dark-blue: #1F3447;
$brown: #362416;
$lite-blue: #6D8EAD;
$tan: #CFCDB4;
$dark-brown: #190B07;