<div class="main-nav-container">
  <ul class="main-nav">
    <li><span class="main-nav-toggle-btn close-btn">X <small>Close</small></span></li>
    <li><%= link_to "Home", root_path() %></li>
    <li><%= link_to "About", about_path() %></li>
    <li><%= link_to "Services", services_path() %></li>
  </ul>
</div>