<div id="top">
  <div class="container">
    <div class="col-md-3 logo">
      <%= link_to root_path do %>
        <%= image_tag('logo', class: 'main-logo') %>
      <% end %>
    </div>
    <div class="col-md-3 col-md-offset-6 main-nav-toggle">
      <span class="main-nav-toggle-btn">MENU <%= image_tag('nav-compass', class: 'nav-compass') %></span>
    </div>
  </div>
</div>